
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/**
*   font-family: 'Inter', sans-serif;
*   font-family: 'Lexend Deca', sans-serif;
*/

:root {
  --main-background: #262626;
  --card-background: #424242;
  --accent:#1db954d1;
  --accent-overlay: #1db95451;
}


html, #root,#root > div ,.artist-header, .flex-album {
  background-color: var(--main-background);
  color: hsla(0, 0%, 100%, 0.75);
 }

 html, body, #root {
  height: 100%;
}

#root{
  margin: 0 auto;
}

ol {
  margin-top: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-album {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.about-artist {
  display: flex;
  flex: column;
  justify-content: space-around;
}

.track{
  font-size: 20px;
  margin: 15px 0;
}
.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80vw;
  margin: auto;

}

.artist-head h1 {
  font-size: 50px
}

.h4-album {
  margin: 0;
  font-size: 24px;
  align-self: flex-end;
}

.top-tracks{
  display: flex;
  flex: column;
  flex-direction: column;
  justify-content: flex-end;
}

.top-tracks > button {
  align-self: flex-end;
}
.artist-img{
  width: 200px;
}
.artist-header {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: auto;
  justify-content: space-between;
}
.artist-list > div {
  flex: 1 0 21%; 
}

.album-photos{
  display: flex;
  flex-direction: column;
  width: 60vw;
}


@media only screen and (max-width: 414px){
  .artist-list {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px){
  .artist-list > div {
    flex: 1 0 50%; 
  }
  .MuiImageList-root {
    flex-direction: column;
   }

    ul.MuiImageList-root li.MuiImageListItem-root {
    width: 100% !important;
   }
   .album-photos {
     width: 100%;
   }

   .artist-header {
    flex-direction: column;
    width: auto;
   }
   
}

/* HOME */

p {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  background-color: var(--card-background);
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-areas: 'content header';
  max-width: 68rem;
  margin: 15vh auto;
  border-radius: 0.6rem;
  overflow: hidden;
}

.header {
  display: flex;
  background-image: url(Images/eric-nopanen-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  grid-area: header;
}

.overlay {
  background-color: var(--accent-overlay);
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-area: content;
  padding: 12% 20% 12% 12%;
}

.accent {
  color: var(--accent);
}

@media screen and (max-width: 900px){

  h1{
    font-size: 1.8rem;
  }

  .container {
    margin: 10vh auto;
    max-width: 25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.3fr;
    grid-template-areas: 'header'
                         'content';
  }

  .content {
    text-align: center;
    padding: 10%;
    gap: 1.5rem;
  }

}